@tailwind components;

@layer components {
  /* .container {
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    max-width: 1216px;
    padding-left: 24px;
    padding-right: 24px;
  } */

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 768px) {
      max-width: 750px;
    }
    @media (min-width: 992px) {
      max-width: 970px;
    }
    @media (min-width: 1200px) {
      /* max-width: 1170px; */
      max-width: calc(1216px + 15px * 2);
    }

    /* temp */
    @screen max-sm {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-x: hidden;
    overflow-x: clip;

    &__main {
      flex-grow: 1;
    }
  }

  .title {
    @apply text-56;
    font-weight: 800;

    @screen max-lg {
      @apply text-40;
    }
    @screen max-md {
      @apply text-24;
      font-weight: 700;
    }
  }
}
