.button {
  @apply text-18 font-medium transition;
  display: inline-flex;
  position: relative;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 9999px;

  @screen max-md {
    @apply text-16;
    padding-left: 16px;
    padding-right: 16px;
  }

  /* @media (hover: hover) { */
  &:active {
    transform: scale(0.98);
  }
  /* } */

  &_primary {
    background-color: theme(colors.body.DEFAULT);
    color: #ffffff;

    @media (hover: hover) {
      &:hover {
        background-color: theme(colors.body.DEFAULT / 80%);
      }
    }
  }
  &_secondary {
    background-color: theme(colors.lime.DEFAULT);
    color: theme(colors.body.DEFAULT);

    @media (hover: hover) {
      &:hover {
        background-color: theme(colors.lime.dark);
      }
    }
  }
  &_tertiary {
    background-color: #ffffff;
    color: theme(colors.body.DEFAULT);

    @media (hover: hover) {
      &:hover {
        background-color: theme(colors.lime.dark);
      }
    }
  }

  &_md {
    min-height: 52px;
    padding: 9px 24px 7px;

    @screen max-md {
      min-height: 44px;
    }
  }
  &_lg {
    min-height: 64px;
    padding: 9px 24px 7px;

    @screen max-md {
      min-height: 44px;
    }
  }
}
