.button {
  @apply text-18 font-medium transition cap-aligner;
  display: inline-flex;
  position: relative;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: baseline;
  cursor: pointer;
  border-radius: 9999px;
  will-change: transform, color, background-color;
  /* -webkit-mask-image: -webkit-radial-gradient(white, black); */

  @screen max-md {
    @apply text-16;
  }

  &:active {
    transform: scale(0.98);
  }

  > div,
  > span,
  > svg {
    align-self: center;
  }

  &_primary {
    background-color: theme(colors.body.DEFAULT);
    color: #ffffff;

    @media (hover: hover) {
      &:hover {
        background-color: theme(colors.body.lighter);
      }
    }
    &:active {
      background-color: theme(colors.body.light);
    }
  }
  &_secondary {
    background-color: theme(colors.lime.DEFAULT);
    color: theme(colors.body.DEFAULT);

    @media (hover: hover) {
      &:hover {
        background-color: theme(colors.lime.dark);
      }
    }
    &:active {
      background-color: theme(colors.lime.darker);
    }
  }
  &_tertiary {
    background-color: #ffffff;
    color: theme(colors.body.DEFAULT);

    @media (hover: hover) {
      &:hover {
        background-color: #f0f4ff;
      }
    }
    &:active {
      background-color: #e0e9ff;
    }
  }

  &_sm {
    @apply text-16;
    height: 44px;
    padding: 0 16px;
  }
  &_md {
    height: 52px;
    padding: 0 24px;

    @screen max-md {
      height: 44px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  &_lg {
    height: 64px;
    padding: 0 24px;

    @screen max-md {
      height: 44px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
