.client {
  display: flex;
  border-radius: 32px;
  padding: 40px 40px 0;
  overflow: hidden;
  width: 592px;

  @screen max-md {
    border-radius: 24px;
    width: 100%;
    padding: 32px 32px 0;
  }
  @screen max-sm {
    flex-direction: column;
    padding: 24px 24px 0;
  }

  &_master {
    background-color: #f0f4ff;
  }
  &_owner {
    background-color: #ccf5dc;
  }
  &_shop {
    background-color: #e3ffb6;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__title {
    @apply text-32;
    font-weight: 700;
    margin-bottom: 40px;

    @screen max-md {
      @apply text-24;
    }
    @screen max-sm {
      @apply text-18;
      margin-bottom: 8px;
    }
  }
  &__text {
    @apply text-18;
    margin: auto 0 39px;
    max-width: 20ch;

    @screen max-md {
      @apply text-17;
    }
    @screen max-sm {
      @apply text-15;
      margin-bottom: 24px;
    }
  }

  &__side {
    flex-shrink: 0;
    aspect-ratio: 0.5418;
    width: 214px;
    max-width: 100%;
    position: relative;
    margin-left: 40px;

    @screen max-md {
      margin-left: 28px;
    }
    @screen max-sm {
      width: 248px;
      margin-left: 0;
      margin-bottom: -140px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }
}
