.clients {
  margin-top: 90px;

  @screen max-md {
    margin-top: 32px;
  }

  &__head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 16px 32px; */
    margin-bottom: 64px;
    justify-content: space-between;

    @screen max-md {
      margin-bottom: 24px;
    }
  }
  &__title {
    margin-right: 32px;

    @screen max-lg {
      margin-right: 0;
    }
  }
  &__avas {
    display: flex;
    position: relative;
    top: -2px;

    @screen max-lg {
      display: none;
    }
  }
  &__ava {
    & + & {
      margin-left: -32px;
    }
  }
  &__ava-img {
    border-radius: 50%;
    width: 72px;
    display: block;
  }
  &__content {
    position: relative;
  }
  &__viewport {
    overflow: hidden;
  }
  &__wrapper {
    display: flex;
    margin: 0 calc(theme(container-padding) - 16px);

    @screen max-md {
      margin: 0 calc(theme(container-padding) - 8px);
    }
  }
  &__item {
    flex-shrink: 0;
    padding: 0 16px;
    display: flex;

    @screen max-md {
      width: 92%;
      padding: 0 8px;
    }
  }
  &__prev,
  &__next {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    /* -webkit-mask-image: -webkit-radial-gradient(white, black); */
    z-index: 10;
    /* transform: translateZ(0); */

    &:disabled {
      opacity: 0;
      pointer-events: none;
    }

    @screen max-md {
      display: none;
    }

    svg {
      height: 24px;
      fill: currentColor;
    }
  }
  &__prev {
    left: max(calc((100vw - 1300px) / 2), 20px);
  }
  &__next {
    right: max(calc((100vw - 1300px) / 2), 20px);
  }
}
