.facts {
  margin-top: 76px;
  isolation: isolate;
  overflow: hidden;
  overflow: clip;

  @screen max-lg {
    margin-top: 70px;
  }
  @screen max-md {
    margin-top: 33px;
  }

  &__inner {
    position: relative;
  }
  &__title {
    margin-bottom: 24px;

    @screen max-md {
      margin-bottom: 7px;
    }
  }
  &__text {
    @apply text-22;
    max-width: 65ch;
    margin-bottom: 56px;

    @screen max-lg {
      @apply text-20;
      margin-bottom: 50px;
    }
    @screen max-md {
      @apply text-16;
      margin-bottom: 24px;
    }
  }
  &__decor {
    height: 162px;
    z-index: -1;
    position: absolute;
    top: 4px;
    right: 6px;

    @screen max-xl {
      display: none;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 16px;

    @screen max-lg {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
    @screen max-md {
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 280px), 1fr));
    }
  }

  &__item {
    background-color: theme(colors.violet.DEFAULT);
    color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 26px 39px 26px 48px;

    @screen max-lg {
      border-radius: 32px;
      padding: 24px 36px 25px 36px;
    }
    @screen max-md {
      border-radius: 24px;
      padding: 18px 23px 17px 22px;
    }
  }
  &__item-info {
    flex-grow: 1;
    align-self: flex-start;
  }
  &__item-title {
    margin-bottom: 8px;
    display: flex;
    align-items: baseline;

    @screen max-md {
      margin-bottom: 1px;
    }
  }
  &__item-num {
    @apply text-40;
    font-weight: 800;
    margin-right: 0.24em;

    @screen max-lg {
      @apply text-36;
    }
    @screen max-md {
      @apply text-24;
      font-weight: 700;
    }
  }
  &__item-unit {
    @apply text-32;
    font-weight: 700;
    position: relative;
    top: -0.04em;

    @screen max-lg {
      @apply text-28;
    }
    @screen max-md {
      @apply text-22;
    }
  }
  &__item-text {
    @apply text-17;

    @screen max-lg {
      @apply text-16;
    }
    @screen max-md {
      @apply text-14;
    }
  }
  &__item-pic {
    width: 96px;
    aspect-ratio: 1;
    flex-shrink: 0;
    margin-left: 24px;

    @screen max-md {
      width: 64px;
    }
  }
  &__item-img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
