.footer {
  margin-top: 88px;
  background-color: #f0f4ff;
  padding: 84px 0 48px;
  isolation: isolate;

  @screen max-md {
    margin-top: 32px;
    padding: 32px 0;
  }

  &__inner {
    position: relative;
  }
  &__top {
    text-align: center;
    padding-bottom: 88px;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    @screen max-md {
      padding-bottom: 32px;
    }
  }
  &__title {
    @apply text-56;
    font-weight: 800;
    margin-bottom: 46px;

    @screen max-lg {
      @apply text-40;
    }
    @screen max-md {
      @apply text-32;
      font-weight: 700;
      margin-bottom: 32px;
    }
  }
  &__emoji {
    display: inline;
    height: 1em;
    width: auto;
    margin-bottom: 0.25em;
  }
  &__button {
    margin-bottom: 48px;

    @screen max-md {
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 33px;
    }
  }
  &__button-icon {
    @apply mr-[16px] h-[24px] max-md:mr-[12px] max-md:h-[20px];
    fill: currentColor;
  }
  &__text {
    @apply text-22;

    @screen max-md {
      @apply text-18;
    }
  }
  &__rectangles {
    height: 192px;
    width: auto;
    position: absolute;
    z-index: -1;
    bottom: 0;
    transform: translateY(39%);
    right: -184px;

    @screen max-xl {
      height: 172px;
    }
    @screen max-lg {
      height: 152px;
    }
    @screen max-md {
      height: 99px;
      filter: invert(68%) sepia(11%) saturate(653%) hue-rotate(263deg)
        brightness(103%) contrast(83%);
      bottom: 78px;
      right: -88px;
      transform: none;
    }
  }
  &__k {
    font-size: 96px;
    width: 1em;
    height: 1em;
    background-color: #ffffff;
    transform: rotate(-15deg);
    position: absolute;
    right: -40.3%;
    top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.167em;
    padding: 0 0 0.021em 0.021em;
    z-index: -1;

    @screen max-xl {
      font-size: 90px;
    }
    @screen max-lg {
      font-size: 80px;
    }
    @screen max-md {
      font-size: 59px;
      top: 0.6%;
      left: -19.7%;
    }
  }
  &__k-icon {
    height: 0.656em;
    width: auto;
  }
  &__decor {
    width: 128px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 47%;
    right: 119.5%;
    aspect-ratio: 1;

    @screen max-xl {
      width: 110px;
    }
    @screen max-lg {
      top: 40%;
      width: 90px;
    }
    @screen max-md {
      display: none;
    }
  }

  &__content {
    background-color: #ffffff;
    border-radius: 32px;
    padding: 72px 56px;

    @screen max-md {
      border-radius: 24px;
      padding: 24px;
    }
  }
  &__cols {
    /* display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); */
    display: flex;
    column-gap: 24px;
    row-gap: 56px;

    @screen max-xl {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @screen max-md {
      grid-template-columns: minmax(0, 1fr);
      row-gap: 33px;
    }
  }
  &__col {
    @screen xl {
      flex-grow: 1;

      &:last-child {
        flex-grow: 0;
        flex-shrink: 0;
        max-width: 220px;
      }
    }
  }
  &__legend {
    @apply text-22;
    font-weight: 700;
    margin-bottom: 22px;

    @screen max-md {
      @apply text-18;
      margin-bottom: 13px;
    }
  }
  &__list {
    display: grid;
    gap: 22px;

    @screen max-md {
      gap: 14px;
    }
  }
  &__list-item {
  }
  &__list-link {
    @apply text-17 transition;
    display: block;
    padding: 2px 0 0;

    @media (hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }

    @screen max-md {
      @apply text-16;
    }
  }
  &__meta {
    @apply mt-[72px] flex justify-between gap-[40px] text-16 max-lg:flex-col max-md:gap-[32px];
    color: #575d67;

    a {
      @apply transition;
      color: inherit;
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-color: transparent;

      @media (hover: hover) {
        &:hover {
          color: theme(colors.body.DEFAULT);
          /* text-decoration: underline; */
          text-decoration-color: theme(colors.body.DEFAULT);
        }
      }
    }

    @screen max-md {
      @apply text-14;
      margin-top: 32px;
    }
  }
  &__policy {
    @apply flex gap-[32px] max-lg:flex-col max-md:gap-[32px];
  }
  &__dev {
    @apply flex gap-[40px];
  }

  &__btm {
    height: 392px;
    margin-top: 48px;
    overflow: hidden;
    border-radius: 40px;
    background-color: theme(colors.lime.DEFAULT);
    position: relative;

    @screen max-md {
      height: 200px;
      margin-top: 32px;
      border-radius: 24px;
    }
  }
  &__btm-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @screen max-sm {
      object-position: left;
      object-view-box: inset(0% 72% 49% 0%);
    }
  }
  &__btm-badge {
    font-size: 112px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 0.17em 0.28em 0.18em;
    border-radius: 0.2em;

    @screen max-md {
      font-size: 53px;
    }
  }
  &__btm-logo {
    height: 0.652em;
    fill: theme(colors.body.DEFAULT);
  }
}
