.intro {
  padding-top: 69px;
  overflow: hidden;
  overflow: clip;
  border-bottom-style: solid;

  @screen md {
    border-bottom-width: 12px;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      theme(colors.aquamarine.DEFAULT),
      50%,
      #5df15d
    );
  }

  @screen max-lg {
    padding-top: 60px;
  }
  @screen max-md {
    padding-top: 23px;
    border-bottom-width: 8px;
    border-color: theme(colors.lime.DEFAULT);
  }

  &__inner {
    display: flex;
    position: relative;

    @screen max-md {
      flex-direction: column;
      align-items: center;
    }

    /* &::after {
      content: "";
      border-radius: 50%;
      background-color: theme(colors.lime.DEFAULT);
      opacity: 0.16;
      filter: blur(122px);
      position: absolute;
      z-index: -1;
      visibility: hidden;

      @screen md {
        width: 1208px;
        height: 1208px;
        top: 92px;
        right: -450px;
      }
      @screen max-md {
        width: 564px;
        height: 564px;
        bottom: -116px;
        left: 50%;
        transform: translateX(-50%);
      }
    } */
  }
  &__spot {
    /* fill: theme(colors.lime.DEFAULT); */
    /* opacity: 0.16; */
    position: absolute;
    z-index: -1;
    /* overflow: visible; */

    @screen md {
      width: 1208px;
      height: 1208px;
      top: 92px;
      right: -450px;
    }
    @screen max-md {
      width: 564px;
      height: 564px;
      bottom: -116px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__spot-img {
    max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140%;
    height: 140%;
  }
  &__main {
    flex-grow: 1;
    min-width: 0;

    @screen max-md {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    /* font-size: linear(24, 56, 375, 1240); */
    /* line-height: linear(32, 72, 375, 1240); */
    font-size: 56px;
    line-height: 72px;
    font-weight: 800;
    position: relative;
    white-space: nowrap;
    min-width: 12em;

    @screen max-xl {
      font-size: 40px;
      line-height: 52px;
    }
    @screen max-lg {
      font-size: 32px;
      line-height: 44px;
    }
    @screen max-md {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    }
  }
  &__title-lines {
    transform: translateZ(0);
    contain: strict;
    padding-top: 4px;
    box-sizing: content-box;
    height: calc(72px * 2);

    @screen max-xl {
      height: calc(52px * 2);
    }
    @screen max-lg {
      height: calc(44px * 2);
    }
    @screen max-md {
      height: calc(32px * 2);
    }
  }
  &__title-line {
  }
  &__emoji {
    @apply inline w-[1em] align-[-0.06em];
    margin-top: -4px;
  }
  &__decor {
    @apply my-[0.07em] mx-[0.3em] inline w-[1.285em];
    height: auto;
    border-radius: 50%;
  }
  &__phrase {
  }
  &__pointer {
    @apply inline fill-current;
    height: 36px;
    vertical-align: -1.68px;

    @screen max-xl {
      height: 30px;
      vertical-align: -3px;
    }
    @screen max-lg {
      height: 28px;
      vertical-align: -4px;
    }
    @screen max-md {
      margin-left: 0.1em;
      height: 26px;
      vertical-align: middle;
    }
  }
  &__phrase:empty ~ &__pointer {
    @apply animate-[pulse_1.4s_cubic-bezier(0.4,0,0.6,1)_infinite];
    /* transform: scale(0.9); */
    margin-left: 0.3ch;
  }
  &__hook {
    height: 0.411em;
    width: auto;
    /* fill: theme(colors.pink.DEFAULT); */
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0.15em 0 0 0.4em;

    @screen max-md {
      display: none;
    }
  }
  &__text {
    @apply text-22;
    margin-top: 76px;
    max-width: 490px;

    @screen max-lg {
      @apply text-20;
      margin-top: 70px;
    }
    @screen max-md {
      display: none;
    }
  }
  &__action {
    margin-top: 121px;
    margin-bottom: 60px;

    @screen max-lg {
      margin-top: 84px;
    }
    @screen max-md {
      margin-top: 38px;
      margin-bottom: 47px;
    }
  }
  &__button {
    @screen max-md {
      width: 256px;
    }
  }
  &__button-icon {
    @apply ml-[16px] h-[24px] max-md:ml-[12px] max-md:h-[20px];
    fill: currentColor;
  }
  &__badge {
    @apply text-15 x-aligner;
    background-color: theme(colors.body.DEFAULT);
    color: #ffffff;
    border-radius: 10px;
    transform: rotate(-10deg);
    font-weight: 700;
    padding: 0 12px;
    height: 32px;
    position: absolute;
    left: 38.1%;
    bottom: 100%;
    margin-bottom: -4px;
    pointer-events: none;
    white-space: nowrap;

    @screen max-md {
      @apply text-13;
      height: 20px;
      padding: 0 8px;
      left: 32%;
      margin-bottom: -1px;
      border-radius: 6px;
    }
  }

  &__phone {
    width: 511px;
    flex-shrink: 0;
    margin-top: 5px;
    align-self: flex-end;
    margin-left: 30px;
    position: relative;
    isolation: isolate;
    user-select: none;

    @screen max-xl {
      width: 450px;
    }
    @screen max-lg {
      margin-top: 0;
      width: 380px;
      margin-right: -40px;
    }
    @screen max-md {
      align-self: center;
      margin-left: 0;
      width: 260px;
      margin-bottom: -92px;
      margin-right: -22px;
    }
  }
  /* &__phone-top {
    background-color: #ffffff;
    position: absolute;
    top: 2%;
    left: 16%;
    right: 25%;
    height: 5%;
    z-index: -1;
  } */
  &__phone-img {
    width: 100%;
  }
  &__phone-content {
    background-color: #ffffff;
    position: absolute;
    top: 2%;
    left: 16.7%;
    right: 25.8%;
    bottom: 28.6%;
    z-index: -1;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;

    @screen max-md {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
  &__phone-media {
    position: absolute;
    top: 4.5%;
    left: -0.5%;
    width: 101%;
    height: 96%;
    object-fit: cover;
    max-width: none;
  }
}
