.intro {
  padding-top: 69px;
  /* padding-bottom: 119px; */
  overflow: hidden;
  overflow: clip;
  border-bottom-style: solid;
  /* border-bottom: 12px solid; */

  @screen md {
    border-bottom-width: 12px;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      theme(colors.aquamarine.DEFAULT),
      50%,
      #5df15d
    );
  }

  @screen max-lg {
    padding-top: 60px;
  }
  @screen max-md {
    padding-top: 23px;
    border-bottom-width: 8px;
    border-color: theme(colors.lime.DEFAULT);
  }

  &__inner {
    display: flex;
    position: relative;

    @screen max-md {
      flex-direction: column;
      align-items: center;
    }

    &::after {
      content: "";
      border-radius: 50%;
      background-color: theme(colors.lime.DEFAULT);
      opacity: 0.16;
      filter: blur(122px);
      position: absolute;
      z-index: -1;

      @screen md {
        width: 1208px;
        height: 1208px;
        top: 92px;
        right: -450px;
      }
      @screen max-md {
        width: 564px;
        height: 564px;
        bottom: -116px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &__main {
    flex-grow: 1;

    @screen max-md {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    /* font-size: linear(24, 56, 375, 1240); */
    /* line-height: linear(32, 72, 375, 1240); */
    font-size: 56px;
    line-height: 72px;
    font-weight: 800;
    position: relative;

    @screen max-xl {
      font-size: 40px;
      line-height: 52px;
    }
    @screen max-lg {
      font-size: 32px;
      line-height: 44px;
    }
    @screen max-md {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    }
  }
  &__emoji {
    @apply inline w-[1em] align-[-0.06em];
  }
  &__decor {
    @apply my-[0.07em] mx-[0.3em] inline w-[1.285em];
  }
  &__pointer {
    @apply inline fill-current;
    height: 36px;
    vertical-align: -1.68px;

    @screen max-xl {
      height: 30px;
      vertical-align: -3px;
    }
    @screen max-lg {
      height: 28px;
      vertical-align: -4px;
    }
    @screen max-md {
      margin-left: 0.1em;
      height: 26px;
      vertical-align: middle;
    }
  }
  &__phrase {
  }
  &__hook {
    height: 0.411em;
    fill: theme(colors.pink.DEFAULT);
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0.15em 0 0 0.4em;

    @screen max-md {
      display: none;
    }
  }
  &__text {
    @apply text-22;
    margin-top: 76px;
    max-width: 490px;

    @screen max-lg {
      @apply text-20;
      margin-top: 70px;
    }
    @screen max-md {
      display: none;
    }
  }
  &__action {
    /* position: relative; */
    margin-top: 121px;
    /* margin-bottom: 119px; */
    /* width: fit-content; */
    margin-bottom: 60px;

    @screen max-lg {
      margin-top: 84px;
    }
    @screen max-md {
      margin-top: 38px;
      margin-bottom: 47px;
    }
  }
  &__button {
    @screen max-md {
      width: 256px;
    }
  }
  &__button-icon {
    @apply ml-[23px] mb-[2px] mr-[5px] h-[12px] max-md:ml-[18px] max-md:h-[10px];
  }
  &__tag {
    @apply text-15;
    background-color: theme(colors.body.DEFAULT);
    color: #ffffff;
    border-radius: 10px;
    transform: rotate(-10deg);
    font-weight: 700;
    padding: 5px 12px;
    position: absolute;
    left: 38.1%;
    bottom: 100%;
    margin-bottom: -4px;
    pointer-events: none;
    white-space: nowrap;

    @screen max-md {
      @apply text-13;
      padding: 2px 8px 1px;
      left: 32%;
      margin-bottom: -1px;
      border-radius: 6px;
    }
  }

  &__side {
    width: 511px;
    /* padding-right: 48px; */
    flex-shrink: 0;
    margin-top: 5px;
    align-self: flex-end;
    margin-left: 30px;

    @screen max-xl {
      width: 450px;
      /* margin-right: -40px; */
    }
    @screen max-lg {
      margin-top: 0;
      width: 380px;
      margin-right: -40px;
    }
    @screen max-md {
      align-self: center;
      margin-left: 0;
      width: 260px;
      margin-bottom: -92px;
      margin-right: -22px;
    }
  }
  &__hand {
    width: 100%;
  }
}
