.nav {
  @screen max-lg {
    background-color: #ffffff;
    position: fixed;
    top: var(--header-height);
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: auto;
    overscroll-behavior: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 27px 24px;

    /* @apply transition-[clip-path,visibility] duration-300;
    clip-path: inset(0 0 100%); */
    @apply transition-[transform,visibility] duration-200 ease-out;
    transform: translateX(100%);
    visibility: hidden;

    &_open {
      /* clip-path: inset(0); */
      transform: none;
      visibility: visible;
    }
  }

  &__list {
    display: flex;
    gap: 48px;

    @screen max-xl {
      gap: 40px;
    }
    @screen max-lg {
      flex-direction: column;
      gap: 18px;
    }
  }
  &__item {
  }
  &__link {
    @apply text-18;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0 1px;
    position: relative;
    isolation: isolate;

    @screen max-lg {
      padding: 8px 0 6px;
    }

    &::after {
      @apply transition-all duration-200 ease-out;
      content: "";
      display: block;
      position: absolute;
      width: 0;
      bottom: 6px;
      height: 7px;
      background-color: theme(colors.pink.DEFAULT);
      z-index: -1;
      border-radius: 10px;
      right: 0;

      @screen max-lg {
        bottom: 11px;
      }
    }

    @media (hover: hover) {
      &:hover::after {
        @apply delay-[50ms];
        width: 100%;
        left: 0;
        right: auto;
      }
    }
    &:focus {
      outline: none;
    }
    &:focus-visible::after {
      width: 100%;
      left: 0;
      right: auto;
    }
  }
}
