.nav {
  @screen max-lg {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overscroll-behavior: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 24px 27px;
  }

  &__list {
    display: flex;

    @screen max-lg {
      flex-direction: column;
    }
  }
  &__item {
    position: relative;

    & + & {
      margin-left: 48px;

      @screen max-xl {
        margin-left: 40px;
      }
      @screen max-lg {
        margin-left: 0;
        margin-top: 14px;
      }
    }
  }

  &__link {
    @apply text-18;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0 1px;
    position: relative;
    isolation: isolate;

    @screen max-lg {
      padding: 10px 0 8px;
    }
  }
  @media (hover: hover) {
    &__link &__text::after {
      @apply transition-all duration-200 ease-out;
      content: "";
      display: block;
      position: absolute;
      width: 0;
      bottom: 4px;
      height: 7px;
      background-color: theme(colors.lime.DEFAULT);
      z-index: -1;
      border-radius: 10px;
      right: 0;
      will-change: width;

      @screen max-lg {
        bottom: 11px;
      }
    }

    &__link:hover &__text::after {
      @apply delay-[50ms];
      width: 100%;
      left: 0;
      right: auto;
    }
  }
  &__item_has-menu &__link {
    @screen lg {
      @apply mr-[6px];
    }
  }
  &__caret {
    @apply mr-[-6px] ml-[6px] h-[24px] fill-current transition;
    transform: translateY(-1px);
  }
  &__item_open &__caret {
    transform: translateY(0) rotate(180deg);
  }

  &__menu {
    box-shadow: 0 5px 15px theme(colors.body.DEFAULT / 10%);
    max-width: 270px;
    border-radius: 10px;
    width: max-content;

    @screen lg {
      @apply transition-[transform,opacity,visibility];
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      margin-top: 8px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
    }
    @screen max-lg {
      @apply transition-[margin-top,grid-template-rows,visibility] duration-200;
      text-align: center;
      display: grid;
      grid-template-rows: minmax(0, 0fr);
      margin-top: 0;
      visibility: hidden;
      overflow: hidden;
    }
  }
  &__item_open &__menu {
    @screen lg {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    @screen max-lg {
      grid-template-rows: minmax(0, 1fr);
      margin-top: 8px;
      visibility: visible;
    }
  }
  &__menu-list {
    background-color: #ffffff;
    border-radius: inherit;
    padding: 8px 0;
  }
  &__menu-item {
  }
  &__menu-link {
    @apply text-16;
    display: block;
    padding: 10px 20px;
    outline-offset: -3px;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
        text-decoration-color: theme(colors.lime.DEFAULT);
        text-decoration-thickness: 2px;
        text-underline-offset: 2px;
      }
    }

    /* @screen max-lg {
      outline-offset: -3px;
    } */
  }

  &__button {
    width: 248px;
    flex-shrink: 0;
    margin-top: 40px;

    @screen lg {
      display: none;
    }
  }
  &__button-badge {
    @apply text-14 cap-aligner;
    font-weight: 400;
    height: 24px;
    padding: 0 8px;
    border-radius: 8px;
    margin-left: 12px;
    background-color: #ffffff;
  }
}
