.nav {
  background-color: #ffffff;

  @screen lg {
    margin-top: 1px;
  }

  @screen max-lg {
    display: none;
  }

  &__list {
    display: flex;
    gap: 48px;
  }
  &__item {
  }
  &__link {
    @apply text-18;
    display: flex;
    align-items: center;
    padding: 2px 0;
    position: relative;
    isolation: isolate;

    @media (hover: hover) {
      &::after {
        @apply transition-all duration-200 ease-out;
        content: "";
        display: block;
        position: absolute;
        width: 0;
        bottom: 7px;
        height: 7px;
        background-color: #ff76d9;
        z-index: -1;
        border-radius: 10px;
        /* clip-path: inset(0 0 100%);
      transform: translate3d(0, 100%, 0); */
        /* display: none; */
        right: 0;
      }
      &:hover::after {
        /* clip-path: inset(0);
      transform: translate3d(0, 0, 0); */
        /* display: block; */
        @apply delay-[50ms];
        width: 100%;
        left: 0;
        right: auto;
      }
    }
    &:focus {
      outline: none;
    }
    &:focus-visible::after {
      width: 100%;
      left: 0;
      right: auto;
    }
  }
}
