.nav {
  @screen max-lg {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overscroll-behavior: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 27px 24px;
  }

  &__list {
    display: flex;
    gap: 48px;

    @screen max-xl {
      gap: 40px;
    }
    @screen max-lg {
      flex-direction: column;
      gap: 18px;
    }
  }
  &__item {
  }
  &__link {
    @apply text-18;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0 1px;
    position: relative;
    isolation: isolate;

    @screen max-lg {
      padding: 8px 0 6px;
    }

    &::after {
      @apply transition-all duration-200 ease-out;
      content: "";
      display: block;
      position: absolute;
      width: 0;
      bottom: 6px;
      height: 7px;
      background-color: theme(colors.pink.DEFAULT);
      z-index: -1;
      border-radius: 10px;
      right: 0;

      @screen max-lg {
        bottom: 11px;
      }
    }

    @media (hover: hover) {
      &:hover::after {
        @apply delay-[50ms];
        width: 100%;
        left: 0;
        right: auto;
      }
    }
  }
  &__button {
    width: 248px;
    flex-shrink: 0;
    margin-top: 40px;

    @screen lg {
      display: none;
    }
  }
  &__button-badge {
    @apply text-14 cap-aligner;
    font-weight: 400;
    height: 24px;
    padding: 0 8px;
    border-radius: 8px;
    margin-left: 12px;
    background-color: #ffffff;
  }
}
