.social {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 16px;

  @screen max-md {
    column-gap: 24px;
  }

  &__link {
    @apply transition;
    font-size: 48px;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    position: relative;
    isolation: isolate;
    padding: 0;

    &::before {
      content: "";
      width: 48px;
      height: 48px;
      border-radius: inherit;
      position: absolute;
      z-index: -1;
    }

    @screen max-md {
      font-size: 36px;
    }
  }
  &__icon {
    fill: currentColor;
    height: 0.7083em;
  }
}
