.step {
  position: relative;

  &__inner {
    background-color: theme(colors.body.DEFAULT);
    /* background-color: #161a23; */
    border-radius: 40px;
    display: flex;
    overflow: hidden;
    overflow: clip;
    isolation: isolate;
    position: relative;

    @screen max-lg {
      flex-direction: column;
      align-items: center;
    }
    @screen max-md {
      border-radius: 24px;
    }
  }
  &__decor {
    height: 172px;
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    @screen max-lg {
      height: 120px;
    }
    @screen max-md {
      height: 64px;
    }
  }

  &__main {
    flex-grow: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-align: center;
    padding: 40px;

    @screen max-md {
      padding: 24px 16px;
    }
  }
  &__num {
    @apply text-36;
    font-weight: 700;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: theme(colors.lime.DEFAULT);
    color: theme(colors.body.DEFAULT);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 56px;
    padding-top: 0.15em;

    @screen max-lg {
      @apply text-32;
      width: 54px;
      height: 54px;
      margin-bottom: 32px;
    }
    @screen max-md {
      @apply text-24;
      width: 40px;
      height: 40px;
      margin-bottom: 17px;
    }
  }
  &__title {
    @apply text-40;
    font-weight: 800;
    margin-bottom: 56px;

    @screen max-lg {
      @apply text-36;
      margin-bottom: 32px;
    }
    @screen max-md {
      @apply text-22;
      font-weight: 700;
      margin-bottom: 8px;
    }
  }
  &__text {
    @apply text-22;
    max-width: 30ch;

    @screen max-lg {
      @apply text-20;
    }
    @screen max-md {
      @apply text-15;
    }
  }

  &__side {
    flex-shrink: 0;
    margin-top: 72px;
    margin-left: 124px;
    margin-right: 45px;
    width: 375px;
    position: relative;
    order: -1;

    @screen max-xl {
      margin-left: 48px;
      margin-right: 0;
    }
    @screen max-lg {
      order: 0;
      margin-left: 0;
      margin-top: 40px;
      width: 300px;
    }
    @screen max-md {
      width: 197px;
      margin-top: 1px;
    }
  }
  &__img {
    width: 100%;
  }
  &__bg {
    opacity: 0.2;
    width: 211%;
    position: absolute;
    bottom: 0;
    left: -84.1%;
    z-index: -1;
    max-width: none;

    @screen max-md {
      width: 219%;
      left: -86.1%;
    }
  }
  &__spot {
    width: 1000px;
    height: 1000px;
    position: absolute;
    z-index: -1;

    @screen max-lg {
      display: none;
    }
  }
  &_one &__spot {
    left: -312px;
    top: -360px;
  }
  &_two &__spot {
    right: -332px;
    bottom: -308px;
  }
  &__spot-img {
    max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 148.8%;
    height: 148.8%;
  }
}
